.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: var(--color-bg);
  color: var(--color-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
  font-family: "Noto Sans", sans-serif;
}

@media (max-width: 578px) {
  .header {
    flex-direction: column;
    height: auto;
    justify-content: space-evenly;
    padding: 1% 0;
  }
}

.mainImage {
  width: 100%;
  height: 25rem;
  z-index: 0;
  overflow: hidden;
}

.mainImage img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
  transition: all 1s;
}

.mainImage img:hover {
  filter: saturate(2);
}

.cartButton {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: var(--color-main);
  color: var(--color-bg);
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  transition: all 0.5s;
}

.cartButton:hover,
.cartButton:active {
  filter: contrast(1.3);
  scale: 0.9;
  animation: cardButton 300ms ease-out;
}

@keyframes cardButton {
  0% {
    rotate: 8deg;
  }

  25% {
    rotate: 0deg;
  }

  50% {
    rotate: -8deg;
  }

  100% {
    rotate: 0deg;
  }
}

.cartIcon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.cartBadge {
  background-color: var(--color-secondary);
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.menuList {
  background-color: white;
  margin: 0 auto;
  margin-top: -5rem;
  width: 70%;
  border-radius: 20px;
  padding: 2rem;
  animation: slow-appear 1s ease-out forwards;
}

@keyframes slow-appear {
  from {
    opacity: 0;
    transform: translateY(5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer {
  margin: 5rem 0;
  text-align: center;
}
